{{range .}}
{{if .Published}}
<article>
	<h1><a href="/post/{{.Slug}}">{{.Title}}</a></h1>
	<div>{{unescape .Excerpt}} [...]</div>
	<br>
	<a href="/post/{{.Slug}}">Read more »</a>
</article>
{{end}}
{{end}}